
$clr-primary-1: hsl(249, 99%, 64%);
$clr-primary-2:hsl(278, 94%, 30%);
$clr-primary-input-error: hsl(0, 100%, 66%);


$clr-neutral-white: hsl(0, 0%, 100%);
$clr-neutral-Light-grayish-violet: hsl(270, 3%, 87%);
$clr-neutral-Dark-grayish-violet: hsl(279, 6%, 55%);
$clr-neutral-Very-dark-violet: hsl(278, 68%, 11%);


$ff-s:"Space Grotesk", sans-serif;
$fw-normal:500;
$fs-600:1.125rem;
$fs-500:0.825rem;
